name = "cf-tgfile"
main = "_worker.js"
compatibility_date = "2025-07-18"
keep_vars = true

# 绑定D1数据库
[[d1_databases]]
binding = "DATABASE"
database_name = "tgfile-db"
id = "{CF_D1_ID}" # action部署时被变量替换
